pre-commit>=2.14.0
audiomentations>=0.16.0
colorednoise>=1.1.1
easydict>=1.9
efficientnet-pytorch>=0.7.0
hydra-core>=1.0.6
kornia>=0.5.3
lightly>=1.1.17
timm>=0.4.5
pandarallel>=1.5.2
pytorch-lightning>=1.4.0
pretrainedmodels>=0.7.4
resnest>=0.0.5
shap>=0.39.0
ttach>=0.0.3
transformers>=4.5.0
torchcam>=0.2.0
torch-optimizer>=0.1.0
torchlibrosa>=0.0.9
torchmetrics>=0.4.0
wandb>=0.10.33
nnAudio>=0.2.4
torch-audiomentations>=0.8.0
scipy>=1.7.1
feets>=0.4
nolds>=0.5.2
pysen[lint]>=0.9.0
